.cart-text {
  text-align: center;
  color: #fff;
}
.cart-total {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart .navbar {
  background-image: linear-gradient(to right, #5f75d8, #8f78ed);
  box-shadow: 0 0 10px grey;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-cart {
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  background: #fff;
  color: #775cd9;
  font-weight: bold;
}
.btn-cart:hover {
  background: #fff;
  color: #775cd9;
}
.btn-cart span {
  padding-left: 10px;
}
